# Ignore the __pycache__ directory
./__pycache__

# Ignore specific directories
*venv/
docs/_build
build
# ignore .out files used to test the output of the test functions
*.out

# Ignore other common Python artifacts
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
